<?php

<?php

return [
    'aws' => [
            'init'=>[
                'region' => '',
                'version' => '',
                'credentials' => [
                    'key' => '',
                    'secret' => ''
                ],
            ],
            'ses'[
                'source' =>''
            ]
    ]  
];